body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #f2f2f7;
}

header {
    padding: 16px;
    background: white;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: white;
    padding: 14px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

#addBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 32px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: #007aff;
    color: white;
}


.actions {
    padding: 12px;
    background: white;
    border-top: 1px solid #ddd;
}

.actions button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #ff9500;
    border: none;
    color: white;
    border-radius: 8px;
}
